# Python
__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/
photos/
temp.jpg

# Node/React
node_modules/
dist/
build/
.cache/
.DS_Store
.env.local
.env.development
.env.production

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
